*{
  text-decoration: none;
}
header{
    background-color: #252729;
    display: flex;
    opacity: 0.89;
    /* flex-direction: row; */
    align-items: center;
  }
  .left{
    display: flex;
    width: 50%;
    left:0;
  }
  .right{
    display: flex;
    position: absolute;
    flex-direction: row-reverse;
    right:5%;
    width: 45%;
  }
  .search{
    /* background-color: red; */
    display: flex;
  }
  .searchBar{
    /* border-style:none; */
    border-radius: 4px;
    border-width: 1px;
    width: 40vw;
    height: 25px;
    margin-left: 10vw;
  }
  .searchBar:focus {
    outline: none;
    /* background-color: #c4c2c1; */
  }
  .button {
    background-color: #252729;
    border: none;
    color: rgb(241, 109, 28);
    padding: 0 10px;
    /* text-align: center; */
    /* text-decoration: none; */
    /* display: inline-block; */
    font-size: 16px;
    margin: 0 0 0 6px;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
    /* align-items: center; */
  }
  .buttonLight{
    background-color: #37393b;
  }
  
  .button:hover{
    background-color: #444749;
  }
  .buttonPayment{
    margin-top: 10px;
    font-size: large;
    width: 20%;
    height: 40px;
    background-color: #085729;
    color: beige;
    border-radius: 20px;
  }
  .buttonPayment:hover{
    background-color: #006c2d;
    
  }
  .login{
    margin-left: 12vw;
  }
  .cart{
    margin-left: 2vw;
  }
  .seperation {
    margin-top: 0.5vh;
    border: 0;
    height: 2px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0)
    );
  }

  .badge {
    background-color: #cc2062;
    color: white;
    border-radius: 8px;
    padding: 2px 6px;
    font-size: small;
    margin-left: -0.4rem;
    margin-top:-5px;
  }
  
  #logo{
    height: 50px;
    width: 220px;
    background: url(logo.png);
    background-size:contain;
    background-repeat: no-repeat;
    /* border-radius: 200px; */
    /* margin: 0 5px; */
  }