.email, .time{
    display: flex;
    justify-content: center;
    align-items: center;
}

.email{
    background-color: rgb(54, 48, 48);
    color: rgb(237, 53, 12);
    border: 1px solid red;
}

.time{
    background-color: rgb(54, 48, 48);
    color: rgb(22, 177, 33);
    border: 1px solid green;
}