/* .page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.alert {
    width: 100%;
    display: flex;
    padding: 12px 16px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 12px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
  }
  .successful{
    background-color: rgba(227, 253, 235, 1);
  border-color: rgba(38, 179, 3, 1);
  color: rgba(60, 118, 61, 1);
  }
  .unsuccessful {
    background-color: rgba(248, 215, 218, 1);
    border-color: rgba(220, 53, 69, 1);
    color: rgba(114, 28, 36,1);
  }